@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
}


body {
    background-color: black;
    color: #f6f6f6;
    box-sizing: border-box;
    height: 100vh; 
}

.titulo-destaque{
    color: #22D4FD;

}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao__conteudo{
    width: 615px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;

}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

 .apresentacao__links__link{
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px ;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
